@import url("https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");

body {
    --font-stack: "SN Pro", sans-serif;
    --font-stack--headings: Tahoma, "SN Pro", sans-serif;
    --color-brand-visited: var(--color-brand-content);
    font-family: "SN Pro", sans-serif;
}

h1 {
    font-size: 2.1rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.2;
}
h4 {
    font-size: 1.1;
}
h5 {
    font-size: 1.;
}
h6 {
    font-family: Tahoma, "SN Pro", sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 1rem;
}

.sidebar-brand-text {
    font-family: Tahoma, "SN Pro", sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}

.sidebar-drawer {
    --color-background-hover: #5a5a5a;
    --color-background-hover--transparent: #363636;
    --color-sidebar-background: #363636;
    --color-sidebar-background-border: #5f5f5f;
    --color-sidebar-brand-text: #ffffff;
    --color-sidebar-caption-text: #dedede;
    --color-sidebar-link-text: #f2f2f2;
    --color-sidebar-link-text--top-level: #ffffff;
    --color-sidebar-item-background: #363636;
    --color-sidebar-search-text: #ffffff;
    --color-sidebar-search-background: #3b3b3b;
    --color-sidebar-search-background--focus: #333333;
    --color-sidebar-search-border: #777777;
    --color-sidebar-search-icon: #dedede;
    background: #363636;
    border-right: 0;
}

.sidebar-tree .reference:hover,
.sidebar-tree .current > .reference:hover,
.sidebar-tree label:hover {
    background: #5a5a5a;
}

.sidebar-tree .current > .reference {
    background: #464646;
}

.sidebar-tree .current > .reference:hover {
    background: #5a5a5a;
}
